@charset "utf-8";

.sensitive-words-wrap{
	position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    color: #333;
}
.sensitive-words-wrap .sensitive-words-title{
	font-weight: normal;
    padding: 5px 0 20px;
}
.sensitive-words-wrap .sensitive-words-cont{
	min-height: 100px;
    max-height: 200px;
    padding: 0 10px;
     overflow: auto;
}
.sensitive-words-wrap .sensitive-words-main{
	padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #fcfcfc;
}
.sensitive-words-wrap .sensitive-words-list{
	
}
.sensitive-words-wrap .sensitive-words-item{
	padding-bottom: 10px;
}
.sensitive-words-wrap .sensitive-words-base{
    padding-bottom: 5px;
}
.sensitive-words-wrap .word-wrap,
.sensitive-words-wrap .order-wrap{
	display: inline-block;
    vertical-align: middle;
    min-width: 200px;
}
.sensitive-words-wrap .word{
	
}
.sensitive-words-wrap .order{
	
}
.sensitive-words-wrap .sensitive-words-info{
	
}
.sensitive-words-wrap .sensitive-words-empty{
	
}
.sensitive-words-wrap .sensitive-words-close-btn{
	float: right;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin-right: 50px;
    cursor: pointer;
    border-radius: 4px;
}
.sensitive-words-wrap .sensitive-words-close-btn:hover{
	background-color: #eee;
}
